async-generator
attrs
beautifulsoup4
blinker
Brotli
certifi
cffi
charset-normalizer
cryptography
fake-useragent
h11
h2
hpack
hyperframe
idna
kaitaistruct
outcome
pyasn1
pycparser
pyOpenSSL
pyparsing
PySocks
requests
selenium
selenium-wire
sniffio
sortedcontainers
soupsieve
trio
trio-websocket
urllib3
Werkzeug
wsproto
zstandard